<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div class="delete-Container-body">
        <div class="delete-body">
            <div class="delete-header">Confirm Delete</div>
            <div class="delete-question">Are you sure you <br>you want to delete</div>
            <div class="delete-name">Essien Abasiama</div>
            <div class="delete-button-section">
                <button class="delete-button delete-cancel">Cancel</button>
                <button class="delete-button delete-proceed">Delete</button>
            </div>
        </div>
    </div>
</body>

</html>